@import url('../../styles/var.css');

.subjects-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.subject-card{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--card-bg-color);
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.subject-card:hover{
    transform: scale(1.01);
}

.subjects-container a {
    text-decoration: none;
}

.subject-card .title{
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.subject-card .icon{
    aspect-ratio: 1/1;
}

.subject-HTML{
    background-color: hsla(0, 82%, 63%, 0.2);
    padding: 0.5rem;
}

.subject-CSS{
    background-color: hsla(151, 70%, 50%, 0.2);
    padding: 0.5rem;
}

.subject-JavaScript{
    background-color: hsla(216, 47%, 78%, 0.3);
    padding: 0.5rem;
}

.subject-Accessibility{
    background-color: hsla(277, 91%, 56%, 0.2);
    padding: 0.5rem;
}

@media screen and (min-width: 48rem){

}