// Colores
$color-primary-White: hsl(0, 0%, 100%);
$color-primary-Black: hsl(0, 0%, 0%);
$color-primary-Dark-Gray: hsl(0, 0%, 55%);
$color-primary-Very-Dark-Gray: hsl(0, 0%, 41%);

// Tipografía
$font-primary: "Josefin Sans", serif;
$font-secondary: "Alata", serif;
$base-font-size: 1rem;

// Espaciados
// $spacing-xs: 4px;
// $spacing-sm: 8px;
// $spacing-md: 16px;
// $spacing-lg: 24px;
// $spacing-xl: 32px;

// Breakpoints
$breakpoint-md: 43.75em;
$breakpoint-lg: 75em;

// :root{
//     --primary-White: hsl(0, 0%, 100%);
//     --primary-Black: hsl(0, 0%, 0%);
//     --primary-Dark-Gray: hsl(0, 0%, 55%);
//     --primary-Very-Dark-Gray: hsl(0, 0%, 41%);
// }