// Colores
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-black: hsl(0, 0%, 0%);
$color-primary-dark-gray: hsl(0, 0%, 63%);
$color-primary-very-dark-gray: hsl(0, 0%, 27%);

// Tipografía
// $font-primary

// Espaciados
// $spacing-xs: 4px;
// $spacing-sm: 8px;
// $spacing-md: 16px;
// $spacing-lg: 24px;
// $spacing-xl: 32px;

// Breakpoints
$breakpoint-md: 43.75em;
$breakpoint-lg: 75em;