header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-block-start: 2rem;
}

header .header__logo{
    width: 3rem;
}

@media screen and (min-width: 75rem) {
    header{
        justify-content: flex-start;
        margin-inline-start: 4rem;
        margin-block-start: 4rem;
    }
}