header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .left-header{
    display: flex;
    align-items: center;
    gap: 3rem;
}

header .right-header{
    position: relative;
    display: flex;
    align-items: center;
    gap: 4rem;
}

header .right-header .cart-open-button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

header .right-header .avatar-image{
    width: 4rem;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 48rem) {
    header{
        padding: 1rem;
    }

    header .left-header{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .left-header .logo{
        order: 2;
    }

    header .left-header .navbar {
        order: 1;
    }

    header .right-header{
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    header .right-header .avatar-image{
        width: 2rem;
    }
}