.nav .nav-menu .nav-links{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav .nav-menu .nav-links .link > a{
    text-decoration: none;
    color: var(--Very-dark-blue);
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav .nav-menu .nav-links .link > a:hover,
.nav .nav-menu .nav-links .link > a:focus{
    color: var(--primary-Orange);
}

/* body.menu-open{
    background-color: rgba(0, 0, 0, 0.5);
}

body.menu-open::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */


/* .nav .nav-menu button,
.nav button{
    display: none;
} */

.nav-menu-open-button{
    background: none;
    border: none;
    cursor: pointer;    
}

.nav .nav-menu{
    position: fixed;
    width: 60%;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 1.5rem;
    background-color: var(--White);
    translate: -100vw 0;
    transition: translate 0.5s ease-in-out;
}

.nav .nav-menu .nav-links{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
}

.nav .nav-menu .nav-menu-close-button{
    display: block;
    background: none;
    border: none;
    cursor: pointer;    
    margin-block-end: 8rem;
}


/*  .nav .nav-menu-open-button[aria-expanded="true"] + .nav-menu{
    translate: 0;
}

.nav .nav-menu .nav-links .link > a{
    text-decoration: none;
    color: var(--Very-dark-blue);
    font-size: 1rem;
    font-weight: var(--font-weight-700);
    transition: color 0.3s ease;
}

.nav .nav-menu .nav-links .link > a:hover,
.nav .nav-menu .nav-links .link > a:focus{
    color: var(--Soft-red);
} */

@media screen and (min-width: 48rem){
    nav button,
    .nav .nav-menu .nav-menu-close-button{
        display: none;
    }

    .nav .nav-menu{
        position: static;
        height: 0;
        inset: unset;
        background-color: unset;
        translate: unset;
    }

    .nav .nav-menu .nav-links{
        flex-direction: row;
        gap: 2.5rem;
    }
} 