.product-images{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.product-images button{
    background: none;
    border: none;
    cursor: pointer;
}

.open-lightbox{
    border-radius: 1rem;
}

.product-image-container .open-lightbox > img {
    width: 100%;
    border-radius: 1rem;
}

.product-thumbnails{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    max-width: 100%;
    width: 100%;
}

.product-thumbnails .thumbnail{
    border-radius: 1rem;
    cursor: pointer;
}

.product-thumbnails .product-thumbnail{
    border-radius: 1rem;
    position: relative;
}

.thumbnail-img-wrapper{
    display: block;
    position: relative; 
}

.product-thumbnails .thumbnail-img-wrapper.active-img::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ffffffbf;
    border: 2px solid var(--primary-Orange);
    border-radius: 1rem;
}