.thumbnail{
    border-radius: 1rem;
    cursor: pointer;
}

.product-thumbnail{
    border-radius: 1rem;
    position: relative;
}

.thumbnail-img-wrapper{
    display: block;
    position: relative; 
    transition: all 0.3s ease-in-out;
}

.thumbnail-img-wrapper.active-img::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ffffffbf;
    border: 2px solid var(--primary-Orange);
    border-radius: 1rem;
}

.thumbnail-img-wrapper:hover::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ffffffbf;
}