@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.c-creations{
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto 1fr;
    gap: 1.5rem;

    padding: 1.5rem;
    margin-block-start: 5rem;

    @include m.breakpoint("large"){
        place-items: start;
        padding: 5rem 10rem;
        margin-block-start: 0;
    }

    .c-creations__title{
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;

        grid-row: 1;
        margin-block-end: 1.5rem;

        @include m.breakpoint("large"){
            font-size: 2.5rem;
        }
    }

    .c-creations__button{
        grid-row: 3;

        font-size: 0.8rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;

        background: none;
        border: 2px solid v.$color-primary-Black;
        padding: 0.5rem 2rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover,
        &:focus{
            background: v.$color-primary-Black;
            color: v.$color-primary-White;
        }

        @include m.breakpoint("large"){
            grid-row: 1;
            justify-self: flex-end;
        }
    }

    .l-grid-images{
        grid-row: 2;

        @include m.breakpoint("large"){
            grid-column: 1 / 3;
        }
    }
}