@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.c-hero{
    background-image: url('../images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    min-height: 100dvh;
    background-size: cover;
    display: grid;
    place-items: center;
    padding: 1.5rem;
    
    @include m.breakpoint("large"){
        background-image: url('../images/desktop/image-hero.jpg');
        background-size: 100% 34rem;
        place-items: flex-start;
        padding: 10rem;
        min-height: unset;
    }

    .c-hero__description{
        font-size: 2.6rem;
        font-weight: 200;
        text-transform: uppercase;
        color: v.$color-primary-White;
        border: 2px solid v.$color-primary-White;
        padding: 1.5rem;
        max-width: 21rem;

        @include m.breakpoint("middle"){
            font-size: 3rem;
            max-width: 28rem;
            padding: 2rem;
            margin-block-start: 2rem;
        }

    }
}