.limitations{
    display: grid;
    margin-block: 4rem;
    padding: 1.5rem;
    gap: 1.5rem;
}

.limitations__content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
}

.limitations__title{
    color: var(--color-gunmetal);
}

.limitations__text{
    font-size: 0.9rem;
    color: var(--color-dark-electric-blue);
}

.limitations__card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--color-pure-white);
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
}

.card__header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__icon{
    width: 1.8rem;
}

.limitations__subtitle{
    color: var(--color-gunmetal);
    font-size: 1rem;
}

.limitations__card__text{
    font-size: 0.9rem;
    color: var(--color-dark-electric-blue);
    line-height: 1.2;
}

@media screen and (min-width: 43.75rem) {
    .limitations{
        grid-template-columns: repeat(2, 1fr);
    }

    .limitations__content {
        grid-column: 1 / -1;
        margin-bottom: 2rem;
    }

    .limitations__text{
        max-width: 35rem;
    }

    .limitations__card.race{
        grid-column: 1 / -1;
        max-width: 19rem;
        justify-self: center;
    }
}

@media screen and (min-width: 75rem) {
    .limitations{
        grid-template-columns: repeat(12, 1fr);
        padding-inline: 5rem;
        background-image: url(../../assets/images/pattern-curved-line-right.svg);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 12rem;
    }

    .limitations__content {
        grid-column: 1 / 7;
        margin-bottom: 2rem;
        text-align: start;
        align-items: flex-start;
    }

    .limitations__title{
        font-size: 2.3rem;
    }

    .limitations__text {
        max-width: 29rem;
    }

    .limitations__card.gender{
        grid-column: 7 / 12;
        justify-self: center;
    }

    .limitations__card.age{
        grid-column: 5 / 9;
    }

    .limitations__card.muscle{
        grid-column: 9/ 13;

    }

    .limitations__card.pregnancy{
        grid-column: 3 / 7;
    }

    .limitations__card.race{
        grid-column: 7 / 11;
        max-width: unset;
    }
}