@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    padding: 1.5rem;
    background-color: var(--primary);
    font-family: 'Outfit', sans-serif;
}

footer{
    text-align: center;
    color: var(--secondary);
    font-size: 1.2rem;
    margin-top: 3rem;

    & > a{
        color: var(--cyan);
        text-decoration: none;
        font-weight: 700;
    }
}

@media screen and (min-width: 43.75rem) {
    body{
        display: grid;
        place-content: center;
        background-color: var(--primary);
        font-family: 'Outfit', sans-serif;
    }
}