:root {
    --primary: #1A2A33;
    --primary-light: #1F3641;
    --secondary: #A8BFC9;
    --secondary-light: #536974;
    --yellow:#F2B137;
    --light-yellow: #FFC860;
    --cyan: #31C3BD;
    --light-cyan: #65E9E4;
}


